:root
{
    --red-color: #FF0000;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --title-color:#6A6A6A;
    --black-opacity-color:#00000066;
    --font-family: 'Nunito Sans', sans-serif;
    --text-shadow-color: #00000040;
    --red-text-shadow-color: #FF00004D;
}
body
{
    font-family: var(--font-family);
}
.container
{
    width: 1088px;
    margin-left: auto;
    margin-right: auto;
}
.header
{
    background: url("../images/image.png") no-repeat;
    height: 807px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__container
{
    background-color: var(--black-opacity-color);
    display: flex;
    justify-content: space-between;
    height: 93px;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;

}
.header__container .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo
{
    color:var(--white-color);
    display: flex;
    align-items: center;
}
.logo img { margin-right: 10px; }
.logo .title
{
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0;
    color: var(--white-color);
}
.logo .colored
{
    font: normal normal 800 35px/47px Nunito Sans;
    letter-spacing: 0;
    color: var(--red-color);
}
.links li
{
    float: left;
    margin-right: 70px;
    text-align: left;
    font: normal normal bold 16px/22px Nunito Sans;
    letter-spacing: 0;
    color: var(--white-color);
    text-transform: uppercase;
}

h1.main__title {
    font: normal normal 900 90px/90px Nunito Sans;
    letter-spacing: 0;
    color: var(--white-color);
    text-shadow: 0 3px 6px var(--text-shadow-color);
    opacity: 1;
    margin-bottom: 10px;
    height: 120px;
}
p.main__subtitle {
    font: normal normal bold 16px/22px Nunito Sans;
    letter-spacing: 0;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 54px;
}
section.header__intro.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn
{
    padding: 22px 55px 22px 55px;
    text-transform: uppercase;
    border:none;
    border-radius: 40px;
    font: normal normal bold 16px/22px Nunito Sans;
    margin-right: 25px;
}
.primary
{
    background: var(--red-color) 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px var(--red-text-shadow-color);
    letter-spacing: 0;
    color: var(--white-color);
}
.secondary
{
    background: var(--white-color) 0% 0% no-repeat padding-box;
    color: var(--red-color);

}
.section__title
{
    margin-top: 95px;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0;
    color: var(--black-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}
.articles
{
    display: flex;
}
article.blog__post {
    width: 33%;
    margin-right: 16px;
}

.blog__post h3 {
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0;
    color: var(--title-color);
    margin-top: 25px;
    margin-bottom: 15px;
}
.blog__post .blog__text
{
    width: 260px;
    font: normal normal 300 14px/19px Open Sans;
    letter-spacing: 0;
    color: var(--title-color);
    margin-bottom: 15px;
}
.blog__post .btn
{
    padding: 11px 29px 11px 29px;
    font: normal normal bold 14px/19px Nunito Sans;

}